{% extends "master.html" %}
{% load static %}
{% load tz %}

{% block title %}
Seznam požadavků
{% endblock %}

{% block content %}
<h1>Seznam založených požadavků:</h1>

<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th class="table_1">Jméno žadatele</th>
            <th class="table_1">Popis problému</th>
            <th class="table_1_1">Termín</th>
            <th class="table_1_1">Ukončeno</th>
            <th class="table_1_1">Akce</th>
        </tr>
    </thead>
    <tbody>
        {% with now=now %}
            {% for helpdesk in helpdesks %}
                <tr style="color:
                    {% if helpdesk.zpracovano %} gray
                    {% elif helpdesk.termin_splneni < now %} red
                    {% else %} black {% endif %};">
                    <td class="table_2">{{ helpdesk.jmeno_zadatele }}</td>
                    <td class="table_2">{{ helpdesk.popis_problemu }}</td>
                    <td class="table_2_1">{{ helpdesk.termin_splneni }}</td>
                    <td class="table_2_1">{{ helpdesk.zpracovano|yesno:"Ano,Ne" }}</td>
                    <td class="table_2_1">
                        <a href="{% url 'HD_edit' helpdesk.id %}" class="btn">Upravit</a> |
                        <a href="{% url 'HD_delete' helpdesk.id %}" class="btn_dell">Smazat</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 8px;">Žádné tikety k zobrazení.</td>
                </tr>
            {% endfor %}
        {% endwith %}
    </tbody>
</table>
<br>
<form action="{% url 'HD_create' %}" method="get">
    <button type="submit" class="btn_hdzaloz">Založ nový požadavek</button>

</form>

<script type="text/javascript" src="{% static 'css/script_js.js' %}"></script>

{% endblock %}