{% load static %}
<header>
<nav class="header_ul">
    <ul>
        <a href="{% url 'home' %}">Domů</a> |
        <a href="{% url 'about' %}">O Helpdesku</a> |
        <a href="{% url 'HD_list' %}">HelpDesk List</a> |
        <a href="{% url 'login' %}">Prihlasit</a> |
        <a href="{% url 'register' %}">Registrace</a>

    </ul>
</nav>
    <div class="nav1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
         Helpdesk

    </div>
    <img src="{% static 'img/ok_1.png' %}"  alt="s" width="100px">
</header>